.region-footer .panel-title {
  font-size: 18px; }
.region-footer .nav > li > a {
  padding: 0; }
  .region-footer .nav > li > a, .region-footer .nav > li > a:hover, .region-footer .nav > li > a:focus, .region-footer .nav > li > a:active {
    background: none;
    color: #aeb0b5; }
  .region-footer .nav > li > a:hover {
    text-decoration: underline; }

@media screen and (min-width: 768px) {
  .region-footer .pane-title {
    font-size: 24px; } }

.panel-layout-proud_landing .panel-footer-footer {
  margin-top: 54px; }
.panel-layout-proud_landing .footer-actions {
  margin-top: 0; }
