.region-footer {
  .panel-title {
    @include xs-header-size($font-size-h4);
  }

  .nav > li > a {
    padding: 0;

    &, &:hover, &:focus, &:active {
      background: none;
      color: $gray-light;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}


// Decrease fonts for mobile
@include respond($sm-up) {
  .region-footer {
    .pane-title {
      font-size: $font-size-h4;
    }
  }
}